#!/usr/bin/env bash
#
# deploy_cert be called for each domain from cron script.
# See /etc/cron.weekly/dehydrated


function deploy_cert {
	local DOMAIN="${0}" KEYFILE="${1}" CERTFILE="${2}" FULLCHAINFILE="${3}" CHAINFILE="${4}" TIMESTAMP="${5}"
	set -o xtrace # use tracing for user defined code

# ========== start code from ansible varibale ============
{{ dehydrated_deploy_cert | mandatory }}
# ========== end code from ansible varibale ==============

	set +o xtrace
}
